
#markers {
  position: fixed;
  background-color: #ffffff;
  width: 600px;
  height: 80px;
  top: 50px;
  left: 35px;
  pointer-events: none;
}

#canvas {
  position: fixed;
  line-height: 0;
  background-color: #ffffff;
  width: 600px;
  height: 600px;
  bottom: 30px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  left: 35px;
  pointer-events: none;
}

#white_marker {
  display: inline-block;
  pointer-events: auto;
  background-color: #ffffff;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 70px;
  height: 70px;
}

#white_marker:hover {
  background-color: #cccccc;
}

#black_marker {
  display: inline-block;
  pointer-events: auto;
  background-color: #000000;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 70px;
  height: 70px;
}

#black_marker:hover {
  background-color: #363636;
}

#red_marker {
  display: inline-block;
  pointer-events: auto;
  background-color: #ce1010;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 70px;
  height: 70px;
}

#red_marker:hover {
  background-color: #c14848;
}

#green_marker {
  display: inline-block;
  pointer-events: auto;
  background-color: #008316;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 70px;
  height: 70px;
}

#green_marker:hover {
  background-color: #4da931;
}

#blue_marker {
  display: inline-block;
  pointer-events: auto;
  background-color: #292ba7;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 70px;
  height: 70px;
}

#blue_marker:hover {
  background-color: #535ac3;
}

.gap {
  display: inline-block;
  background-color: #ffffff;
  width: 41px;
  height: 80px;
}

.pixel {
  display: inline-block;
  vertical-align: top;
  outline: none;
  margin: 0px;
  background-color: #ffffff;
  width: 5px;
  height: 5px;
  pointer-events: auto;
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 0.5px;
}

#buttons {
  display: block;
  position: fixed;
  width: 200px;
  height: 800px;
  bottom: 30px;
  right: 35px;
  pointer-events: none;
}

p {
  width: 190px;
  font-family: monospace;
  font-style: bold;
  font-size: 12px;
  position: fixed;
  top: 30px;
  text-align: right;
}

#clear {
  display: block;
  width: 190px;
  height: 70px;
  position: fixed;
  bottom: 100px;
  pointer-events: auto;
  border-style: solid;
  border-color: black;
  margin-bottom: 40px;
  border-width: 5px;
  background-color: #606060;
  color: #ffffff;
  font-family: monospace;
  font-style: bold;
  font-size: 52px;
  text-align: center;
}

#clear:hover {
  background-color: #8d8d8d;
}

#send {
  width: 190px;
  height: 70px;
  pointer-events: auto;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  background-color: #606060;
  color: #ffffff;
  font-family: monospace;
  font-style: bold;
  font-size: 52px;
  text-align: center;
  position: fixed;
  bottom: 30px;
}

#send:hover {
  background-color: #8d8d8d;
}



