<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>Input to Drawing Machine</title>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/script.js"></script>
  </head>
  <body>
    <div id="markers">
      <div id="white_marker"></div>
      <div id="black_marker"></div>
      <div id="red_marker"></div>
      <div id="green_marker"></div>
      <div id="blue_marker"></div>
    </div>
    
    <div id="canvas">
    
    
    
    
    
    
    
    
    
    
    
    
    </div>
  </body>
</html>
